<!DOCTYPE html>
<html>
    <head>
        <title>Mi Vista EJS</title>
    </head>
    <body>
        <p class="text-start">
            Hola! Aqui te dejaremos un formulario para que completes con tu
            libro favorito!
        </p>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Libro</label>
                <input id="libro" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Autor
                </label>
                <input id="Autor" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Editorial
                </label>
                <input id="Editorial" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Isdn
                </label>
                <input id="Isdn" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Genero
                </label>
                <input id="Genero" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Paginas
                </label>
                <input id="Paginas" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Precio
                </label>
                <input id="Precio" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >año
                </label>
                <input id="año" />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </body>
</html>
